/*
ABOUT
============================================================================================================
Revised stylesheet based on the original from Pablo Gil Fernández made by MisterMaker

KNOWN BUGS and TO DO
=============================================================================================================
- The stylesheet is not compatible with older <1.1 versions of FreeCAD.
Please, follow the link to get updated information:
https://forum.freecad.org/viewtopic.php?t=78431

INSTALLATION WHEN NECESSARY
============================================================================================================
1) Place the .qss file and associated images folder inside the `Gui/Stylesheets/` directory (capitalization matters). This directory is located within FreeCAD's user-data folder, which varies by operating system. You can find your user data folder in one of two ways:
   a. In FreeCAD, open the Python console and run: App.getUserAppDataDir()
   b. From the command line, run: FreeCAD --get-config UserAppData
2) Start FreeCAD and go to Preferences > Display > UI > Theme Customization > Style sheet (advanced)
3) Select the stylesheet you want to use from the dropdown menu
4) Click Apply and then OK
5) You need to set the theme to implement the token system.
6) Restart FreeCAD to apply the changes.
============================================================================================================

FOLLOWING CODES ARE CHANGED IN THE SETTINGS:
@PrimaryColor
@AccentColor
@GeneralAlternateBackgroundColor
@GeneralBackgroundColor
@GeneralBorderColor
@GeneralDisabledBackgroundColor
@GeneralGridLinesColor
@3DViewBackgroundRefColor
@ButtonBottomBackgroundColor
@ButtonTopBackgroundColor
@GroupboxBackgroundColor
@GroupboxBorderColor
@StylesheetIconsColor
@IconsLocationFolderName
@MenuBackgroundColor
@ScrollbarBackgroundColor
@SketcherConflictingConstraintsColor
@SketcherEmptySketchColor
@SketcherFullyConstrainedColor
@SketcherMalformedConstraintsColor
@SketcherPartiallyRedundantConstraintsColor
@SketcherRedundantConstraintsColor
@SketcherSolverFailedColor
@SketcherUnderConstrainedColor
@TabbarBackgroundColor
@TextDisabledColor
@TextEditFieldBackgroundColor
@TextForegroundColor
@TextUrlColor
@ToolbarButtonsPadding

------------------------------------------------------------------------------------------------------

  See Qt documentation:

  - https://doc.qt.io/qt-5/stylesheet.html
  - https://doc.qt.io/qt-5/stylesheet-reference.html
  - https://doc.qt.io/qt-5/stylesheet-examples.html

--------------------------------------------------------------------------- */

/* fix for column items background when a link is present */
Gui--PropertyEditor--PropertyEditor > QWidget > QFrame:focus {
  background-color: @AccentColor;/* same as focused background color */}
/* hack to hide weird redundant information inside cells with links and no editable data (but editable via "..." button) */
Gui--PropertyEditor--PropertyEditor > QWidget > QWidget > QLabel {
  background-color: @PrimaryColor;/* same as focused background color */
  /* border-radius: @InputFieldBorderRadius; */
}

/*==================================================================================================
Main window
==================================================================================================*/

Gui--Dialog--DlgPreferencesImp #sidebar {
  background-color: @{@Background.200};
}


/*navgation src/Mod/Tux/NavigationIndicatorGui.py */
Gui--NavigationIndicatorGui--BlenderNavigationStyle {
  qproperty-icon: url(:/icons/icons/NavigationBlender_light.svg);
}

/* QGroupBox --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qgroupbox

--------------------------------------------------------------------------- */
QGroupBox {
  background-color: transparent;
  border-radius: @GroupBoxBorderRadius;
  border-color: @GroupBoxBorderColor;
  border: 1px solid @GroupBoxBorderColor;
  border-width: @GroupBoxBorderThickness;
  padding: @GroupBoxPadding;
  margin-top: 9px;
  font-weight: @GroupBoxTitleFontWeight;
}

QGroupBox::title {
  top: -9px;
  padding: @{padding(@GroupBoxTitlePadding)};
  left: @{padding(@GroupBoxPadding).left - padding(@GroupBoxTitlePadding).left};
  color: @GroupBoxTitleTextColor;
  font-size: @GroupBoxTitleFontSize;
  font-weight: @GroupBoxTitleFontWeight;
  background-color: @GroupBoxBackground;
  border-radius: 4px;
}


/* QToolBar ---------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbar

--------------------------------------------------------------------------- */
QToolBar {
  background-color: @{@Background.100};
  border: none;
  outline: none;
}

QToolBar:horizontal {
  border-bottom: 1px solid @GeneralBorderColor;
}

QToolBar:vertical {
  border-left: 1px solid @GeneralBorderColor;
}

MRichTextEdit[floating="true"] {
  border: 1px solid @GeneralBorderColor;
  border-radius: 2px;
  padding: 1px;
}

/* QToolButton ------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbutton

--------------------------------------------------------------------------- */

QToolButton {
  font-size: @ButtonFontSize;
  font-weight: @ButtonFontWeight;
}

QToolButton[controlSize="small"] {
  font-size: @ButtonSmallFontSize;
  font-weight: @ButtonSmallFontWeight;
}

/* Gui::SplitButton --------------------------------------------------------- */

Gui--SplitButton QPushButton[splitRole="main"] {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

Gui--SplitButton QToolButton[splitRole="menu"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

Gui--SplitButton QToolButton::menu-indicator {
    image: none;
    border-image: none;
}

/*==================================================================================================
Tasks panel (custom FreeCAD class)
==================================================================================================*/
Gui--PropertyEditor--PropertyEditor {
  qproperty-groupTextColor: @TextForegroundColor;
  qproperty-groupBackground: @GeneralHeaderBackgroundColor;
}

/* Action group */
QFrame[class="panel"] {}
QSint--ActionGroup {
/* if not reset, it might create problems with QPushButtons and other elements */
/* if not reset, it might create problems with QPushButtons and other elements */
  border-radius: @InputFieldBorderRadius;
}

/* Separator line */
QSint--ActionGroup QFrame[height="1"],
QSint--ActionGroup QFrame[height="1"],
QSint--ActionGroup QFrame[height="1"],
QSint--ActionGroup QFrame[width="1"],
QSint--ActionGroup QFrame[width="1"],
QSint--ActionGroup QFrame[width="1"] {
  border-color: @GeneralBorderColor;
}

/* Panel header */
QSint--ActionGroup QFrame[class="header"] {
  border: 1px solid @GeneralBorderColor;
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 @ButtonTopBackgroundColor,stop:1 @ButtonBottomBackgroundColor );
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
QSint--ActionGroup QToolButton[class="header"] {
  text-align: left;
  font-weight: bold;
  border-style: none;
}
QSint--ActionGroup QFrame[class="header"] QLabel[fold="false"] {
  padding: 2px;
  image: url(qss:@IconsLocationFolderName/arrow-down-lightgray.svg);
}

QSint--ActionGroup QFrame[class="header"] QLabel:hover[fold="false"] {
  padding: 2px;
  image: url(qss:@IconsLocationFolderName/arrow-down-@StylesheetIconsColor.svg);
}

QSint--ActionGroup QFrame[class="header"] QLabel[fold="true"] {
  padding: 2px;
  image: url(qss:@IconsLocationFolderName/arrow-up-lightgray.svg);
}

QSint--ActionGroup QFrame[class="header"] QLabel[fold="true"]:hover {
  padding: 2px;
  image: url(qss:@IconsLocationFolderName/arrow-up-@StylesheetIconsColor.svg);
}

QSint--ActionGroup QFrame[class="content"] {
  background-color: @DialogBackground;/* Task Panel background color */

  border-bottom: 1px solid @GeneralBorderColor;
  border-left: 1px solid @GeneralBorderColor;
  border-right: 1px solid @GeneralBorderColor;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Fixs for tabs inside Task Panel */

/* QSlider ----------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qslider

--------------------------------------------------------------------------- */
QSlider:disabled {
  /*  background-color: @GeneralDisabledBackgroundColor;disabled because this is the frame of the slider, not the slider itself.*/}
QSlider:focus {}
QSlider::groove:horizontal {
  background-color: @PrimaryColor;
  border: 1px solid @GeneralBorderColor;
  height: 4px;

  border-radius: 3px;
}

QSlider::groove:vertical {
  background-color: @AccentColor;
  border: 1px solid @GeneralBorderColor;
  width: 4px;

  border-radius: 3px;
}

QSlider::add-page:vertical {
  background-color: @AccentColor;
  border: 1px solid @GeneralBorderColor;
  width: 4px;

  border-radius: 3px;
}

QSlider::add-page:vertical :disabled {
  background-color: @GeneralDisabledBackgroundColor;
}

QSlider::sub-page:horizontal {
  background-color: @AccentColor;
  border: 1px solid @GeneralBorderColor;
  height: 4px;

  border-radius: 3px;
}

QSlider::sub-page:horizontal:disabled {
  background-color: @GeneralDisabledBackgroundColor;
}

QSlider::handle:horizontal {
  background-color: @AccentColor;
  border: 1px solid @GeneralBorderColor;
  width: 10px;
  height: 8px;
  margin: -4px 0px;
  border-radius: 6px;
}

QSlider::handle:horizontal:hover {
  background-color: @GeneralBackgroundHoverColor;
  border: 1px solid @GeneralBackgroundHoverColor;
}

QSlider::handle:horizontal:focus {
  background-color: @AccentColor;
  border: 1px solid @AccentColor;
}

QSlider::handle:vertical {
  background-color: @AccentColor;
  border: 1px solid @GeneralBorderColor;
  width: 10px;
  height: 8px;
  margin: 0px -4px;
  border-radius: 6px;
}

QSlider::handle:vertical:hover {
  background-color: @GeneralBackgroundHoverColor;
  border: 1px solid @GeneralBackgroundHoverColor;
}

QSlider::handle:vertical:focus {
  border: 1px solid @AccentColor;
}

/* QTreeView QListView QTableView -----------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtreeview
https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qlistview
https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtableview

--------------------------------------------------------------------------- */

QListView:selected,
QTableView:selected,
QColumnView:selected {}
QListView:focus,
QTableView:focus,
QColumnView:focus {}
QListView::item:pressed,
QTableView::item:pressed,
QColumnView::item:pressed {
  background-color: @GeneralBackgroundHoverColor;
}

QListView::item:selected,
QTableView::item:selected,
QTreeView::item:selected,
QColumnView::item:selected {
  background-color: @AccentBackgroundColor;
}

QTableView::item:hover,
QColumnView::item:hover,
QListView::item:hover {
  background-color: @AccentHoverColor;
}

/* QTreeView::item:!selected:hover, */
QListView::item:!selected:hover,
QTableView::item:!selected:hover,
QColumnView::item:!selected:hover {
  background-color: @AccentHoverColor;
}

QTreeView::item:!selected:hover{
  outline: 0;
  color:@TextForegroundColor;
  background-color: @AccentHoverColor;
}

QTableCornerButton::section {
  background-color: @PrimaryColor;
  border-radius: 0px;/*if you remove this line it breaks it */}

QScrollBar {
  background-color: @ScrollBarBackground;
}

QScrollBar:hover {
  background-color: @ScrollBarHoveredBackground;
}

QScrollBar::handle {
  background-color: @ScrollBarThumbBackground;
  margin: @ScrollBarThumbMargin;
  border-radius: @ScrollBarThumbBorderRadius;
}

QScrollBar::handle:hover {
  background-color: @ScrollBarThumbHoveredBackground;
}

QScrollBar::add-line, QScrollBar::sub-line {
  background-color: transparent;
  border: transparent;
}

QScrollBar::handle:horizontal {
  min-width: @ScrollBarThumbMinLength;
}

QScrollBar::handle:vertical {
  min-height: @ScrollBarThumbMinLength;
}



/* QAbstractView ----------------------------------------------------------

--------------------------------------------------------------------------- */
QTreeView, QListView, QTableView, QAbstractItemView {
  background-color: @{@Background.000};
  border: 1px solid @GeneralBorderColor;
  border-radius: @FormControlBorderRadius;
}

QAbstractView:hover {
  border: 1px solid @AccentColor;
}

QAbstractView:selected {
  background-color: @AccentColor;
}

/* PlotWidget -------------------------------------------------------------

--------------------------------------------------------------------------- */
PlotWidget {
  color: @TextDisabledColor;
}

/*==================================================================================================
SKETCHER
==================================================================================================*/

Gui--StatefulLabel[state="empty"] {
  color : @SketcherEmptySketchColor}
Gui--StatefulLabel[state="under_constrained"] {
  color : @SketcherUnderConstrainedColor;
  }

Gui--StatefulLabel[state="conflicting_constraints"] {
  color : @SketcherConflictingConstraintsColor;
  font-weight: bold;
}

Gui--StatefulLabel[state="malformed_constraints"] {
  color : @SketcherMalformedConstraintsColor;
  font-weight: bold;
}

Gui--StatefulLabel[state="redundant_constraints"] {
  color : @SketcherRedundantConstraintsColor;
}

Gui--StatefulLabel[state="partially_redundant_constraints"] {
  color : @SketcherPartiallyRedundantConstraintsColor;
}

Gui--StatefulLabel[state="solver_failed"] {
  color : @SketcherSolverFailedColor;
  font-weight: bold;
}

Gui--StatefulLabel[state="fully_constrained"] {
  color : @SketcherFullyConstrainedColor;
  font-weight: bold;
}

/*==================================================================================================
Start page
==================================================================================================*/

QPushButton[objectName="buttonIFCPropertiesDelete"] {
  min-width: 100px;
}

QGroupBox[objectName="matOpsGrpBox"] QPushButton {
  min-width: 235px;
}

/* Below is a fix for indentation in properties*/

QTreeView#groupsTreeView {
  border: none;
}

QTreeView::item#groupsTreeView {
  /* background-color: @AccentColor; */
}

QHeaderView {
    border: none;
    border-bottom: 1px @BaseBorderColor solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QHeaderView::section {
    padding: @{padding(horizontal: @Spacing.200, vertical: @Spacing.100)};
}

/*==================================================================================================
Input validation
==================================================================================================*/
QLineEdit[validationState="error"],
QComboBox[validationState="error"] {
    border: 1px solid #d93025;
    border-image: none;
}

QLineEdit[validationState="error"]:focus,
QComboBox[validationState="error"]:focus {
    border: 1px solid #ff3b30;
    border-image: none;
}
